*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
  --black: #000;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: var(--black);
}
header {
  background-color: var(--purple-bg);
  color: var(--white);
  padding: 15px;
  border-bottom: 5px solid var(--green);
}
.site-navigation {
  display: flex;
  flex-direction: column;
} 
.logo {
  align-self: flex-start;
}
nav {
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 1rem;
}
.item { margin-bottom: 1rem; }
.item:first-child::before {
  content: '| ';
  color: var(--green);
}
a {
  text-decoration: none;
  color: var(--white);
  transition: .4s;
}
a:hover {
  color: var(--green);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
#search, .btn-search {
  height: 44px;
  border: none;
}
#search {
  background:  var(--dark-bg);
  border-radius: 4px 0px 0px 4px;
  color: var(--white);
  padding: 14px 25px;
}
#search:focus,
.btn-search:focus {
  outline-offset: -2px;
}
.btn-search {
  cursor: pointer;
  background-color: var(--button-bg);
  border-radius: 0px 4px 4px 0px;
  width: 70px;
}
.btn-search:hover{
  background-color: var(--green);
}
.header-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
.header-post {
  padding: 32px 16px;
}
.header-title {
  color: var(--button-bg);
  font-family: 'Poppins';
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.header-description,
.header-cta {
  font-size: 18px;
  line-height: 27px;
}
.header-description {
  color: var(--light-purple);
  font-weight: 400;
  padding-top: 16px;
}
.header-cta {
  color: var(--button-bg);
  font-weight: 700;
  text-align: left;
  display: flex;
  gap: 8px;
  padding-top: 24px;
  width: 112px;
}
.header-cta:hover {
  color: var(--green);
}
.header-image {
  padding-top: 32px;
  width: 90vw;
  margin: 0 auto;
}

main {
  padding-top: 4px;
}
.post,
.posts {
  padding: 32px 16px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.post .date,
.post .description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  color: var(--black);
}
.post .description {
  line-height: 24px;
  width: 90vw;
}
.post .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--purple-bg);
}
.title.poppins {
  font-family: 'Poppins';
}
.post img,
.post .date, 
.post .title {
  margin-bottom: 15.97px;
  width: 90vw;
}
.posts .post {
  padding: 0;
}
.posts .date, 
.posts .title,
.gallery-posts .date,
.gallery-posts .title  {
  margin-bottom: 8px;
}
.line {
  width: 75vw;
  margin: 23px auto;
  height: 1px;
  background-color: #f2e7fa;
}

@media (min-width: 1024px) {
  header {
    padding: 64px 100px;
  }
  .site-navigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    align-self: center;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 0;
  }
  .header-container {
    flex-direction: row;
    gap: 30px;
    padding-top: 64px;
  }
  .header-post,
  .header-image {
    padding: 0;
  }
  .header-title {
    font-size: 36px;
    line-height: 54px;
  }
  .header-image {
    max-width: 40vw;
  }

  main {
    padding: 64px 100px 67.58px;
  }
  .main-container {
    display: flex;
    justify-content: space-between;
    gap: 130px;
  }
  .post,
  .posts {
    padding: 0;
  }
  .post img,
  .post .date,
  .post .title,
  .post .description {
    width: 35vw;
  }
  .line {
    width: 35vw;
  }
  .gallery-posts {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 63.79px;
  }
  .gallery-posts img,
  .gallery-posts .date,
  .gallery-posts .title,
  .gallery-posts .description {
    width: 25vw;
  }
}

@media (min-width: 1440px) {
  header {
    padding: 64px 136px;
  }
  .header-description {
    padding: 16px 100px 0 0;
  }
  main {
    padding-left: 136px;
    padding-right: 136px;
  }
  .gallery-posts img {
    max-width: 370px;
  }
}